/* Base styling */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    box-sizing: border-box;
  }
  
  .top-left-content {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 16px;
    font-weight: bold;
  }
  

  .results-page {
    max-width: 800px;
    margin: auto;
    padding: 1px;
  }
  
  /*h1 {
    font-size: 1.6em;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }*/

  h1 {
    font-size: 2em; /* Larger font size for prominence */
    text-align: center; /* Center-align the text */
    color: #2F4F4F; /* Dark Slate Gray for a professional look */
    font-family: 'Georgia', serif; /* A sophisticated serif font */
    text-transform: uppercase; /* Optional: Makes the text all caps */
    letter-spacing: 2px; /* Adds spacing between letters for elegance */
    margin-bottom: 10px; /* Adds space below the heading */
    border-bottom: 2px solid #FFA500; /* Optional: Add an underline with an appealing color */
    padding-bottom: 5px; /* Adds spacing between the text and underline */
  }
  
  /* Table styling */
  table {
    border: 2px solid rgb(85, 85, 85);
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9em;
    background: white;
    margin: 0;
  }
  
  th, td {
    border: 1px solid rgb(85, 85, 85);
    padding: 8px;
    text-align: left;
    font-size: 0.8em;
    font-weight: normal;
    color: rgb(209, 79, 19);
    font-family: sans-serif;
  }
  
  th {
    position: sticky; /* Makes the header fixed while scrolling */
  top: 0;
  z-index: 2;
    background-color:#F79646 
    ;
    color: rgb(85, 85, 85);
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
  }
  
  td {
    text-align: left;
  }
  
  input[type="checkbox"] {
    transform: scale(1.2);
    cursor: pointer;
    
      display: block;
      margin: 0 auto; /* Centers the checkbox horizontally */
    
  }
  

  /* Button styling */
  button {
    background-color: rgb(209, 79, 19) ;
    color: white;
    padding: 8px 16px; /* Reduced padding */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    font-size: 0.8em; /* Reduced font size */
    width: fit-content;
    font-family: sans-serif;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .results-page {
      padding: 14px;
    }
    
    h1 {
      font-size: 1.4em;
    }
  
    th, td {
      font-size: 1em;
      padding: 6px;
      color: rgb(209, 79, 19);
    }
  }
  
  @media (max-width: 480px) {
    h1 {
      font-size: 1.2em;
    }
  
    table, th, td {
      font-size: 0.75em;
    }
  
    th, td {
      padding: 5px;
    }
  }
  